// stylelint-disable declaration-property-value-blacklist
// Vars
$font-family: 'Arial', sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: $font-family;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background: radial-gradient(#000000 15%, transparent 16%) 0 0,
    radial-gradient(#000000 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-attachment: fixed;
  background-size: 16px 16px;
}

.arrow {
  display: inline-block;
  width: 250px;
  overflow: hidden;
  transform: rotate(0deg);
  transition: all .2s;
}

h1 {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 100;
  font-size: 60px;
}

.units {
  font-size: 15px;
}
