// stylelint-disable declaration-property-value-blacklist
// Vars
$font-family: 'Arial', sans-serif;
$z-index: 1;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: $font-family;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  background: #eeeeee;
  font-weight: 200;
  font-size: 20px;
}

.site-wrap {
  max-width: 700px;
  padding: 40px;
  margin: 70px auto;
  background: #ffffff;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .05);
  text-align: justify;
  transform: scale(.98);
  transition: transform .5s;
}

.fixed-nav .site-wrap {
  transform: scale(1);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background: url(http://wes.io/iEgP/wow-so-deep.jpg) bottom center no-repeat;
  background-size: cover;
  text-align: center;
}

h1 {
  color: #ffffff;
  font-size: 7vw;
  text-shadow: 3px 4px 0 rgba(0, 0, 0, .2);
}

nav {
  position: relative;
  top: 0;
  z-index: $z-index;
  width: 100%;
  background: #000000;
  transition: all .5s;
}

.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px rgba(0, 0, 0, .1);
}

nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

li.logo {
  max-width: 0;
  background: #ffffff;
  overflow: hidden;
  font-weight: 600;
  font-size: 30px;
  transition: all .5s;
}

.fixed-nav li.logo {
  max-width: 500px;
}

nav a {
  display: inline-block;
  padding: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s;
}

li.logo a {
  color: #000000;
}
